# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\fish\semantic_fish\Server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
